.1_130 { 
	overflow:hidden;
}.e1_130 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:4472px;
	position:absolute;
}.e1_550 { 
	width:1397px;
	height:755px;
	position:absolute;
	left:1px;
	top:3650px;
	background-image:url(images/image_8.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_131 { 
	width:1440px;
	height:4360px;
	position:absolute;
	left:0px;
	top:112px;
}.e1_532 { 
	width:620px;
	height:465px;
	position:absolute;
	left:31px;
	top:457.6875px;
	background-image:url(images/image_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_536 { 
	width:620px;
	height:465px;
	position:absolute;
	left:44px;
	top:92.6875px;
	background-image:url(images/image_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_132 { 
	width:1397px;
	height:112px;
	position:absolute;
	left:1px;
	top:-112px;
}.e1_133 { 
	background-color:rgba(255, 255, 255, 1);
	width:1397px;
	height:112px;
	position:absolute;
	left:0px;
	top:0px;
}.1_133 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e1_134 { 
	width:1394.796875px;
	height:70px;
	position:absolute;
	left:0.59375px;
	top:21.15625px;
}.e1_135 { 
	width:157px;
	height:52px;
	position:absolute;
	left:21.40625px;
	top:8.84375px;
}.e1_136 { 
	background-color:rgba(251.00000023841858, 75.00000312924385, 77.00000301003456, 1);
	width:157px;
	height:52px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_137 { 
	color:rgba(255, 255, 255, 1);
	width:69px;
	height:22px;
	position:absolute;
	left:44px;
	top:15px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0.5;
	line-height:px;
}.e1_138 { 
	width:144px;
	height:52px;
	position:absolute;
	left:426.40625px;
	top:8.84375px;
}.e1_139 { 
	width:144px;
	height:52px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_140 { 
	color:rgba(34.00000177323818, 34.00000177323818, 34.00000177323818, 1);
	width:69px;
	height:22px;
	position:absolute;
	left:16px;
	top:15px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0.5;
	line-height:px;
}.e1_141 { 
	width:199.25px;
	height:70px;
	position:absolute;
	left:597.75px;
	top:0px;
}.e1_146 { 
	background-color:rgba(139.0000069141388, 131.00000739097595, 246.0000005364418, 1);
	width:17px;
	height:17px;
	position:absolute;
	left:159.65625px;
	top:26.84375px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}.1_146 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e1_147 { 
	background-color:rgba(251.00000023841858, 75.00000312924385, 77.00000301003456, 1);
	width:17px;
	height:17px;
	position:absolute;
	left:21.65625px;
	top:26.84375px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}.1_147 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e1_148 { 
	width:160px;
	height:52px;
	position:absolute;
	left:816.40625px;
	top:8.84375px;
}.e1_149 { 
	width:160px;
	height:52px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_150 { 
	color:rgba(34.00000177323818, 34.00000177323818, 34.00000177323818, 1);
	width:72px;
	height:22px;
	position:absolute;
	left:44px;
	top:15px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0.5;
	line-height:px;
}.e1_151 { 
	width:144px;
	height:52px;
	position:absolute;
	left:1223.40625px;
	top:8.84375px;
}.e1_152 { 
	background-color:rgba(251.00000023841858, 75.00000312924385, 77.00000301003456, 1);
	width:144px;
	height:52px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_153 { 
	color:rgba(255, 255, 255, 1);
	width:74px;
	height:22px;
	position:absolute;
	left:40px;
	top:15px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0.5;
	line-height:px;
}.e1_154 { 
	width:144px;
	height:52px;
	position:absolute;
	left:226.40625px;
	top:8.84375px;
}.e1_155 { 
	width:144px;
	height:52px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_156 { 
	color:rgba(34.00000177323818, 34.00000177323818, 34.00000177323818, 1);
	width:60px;
	height:22px;
	position:absolute;
	left:45px;
	top:15px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0.5;
	line-height:px;
}.e1_157 { 
	width:177px;
	height:52px;
	position:absolute;
	left:1007.40625px;
	top:8.84375px;
}.e1_158 { 
	width:177px;
	height:52px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_159 { 
	color:rgba(34.00000177323818, 34.00000177323818, 34.00000177323818, 1);
	width:100px;
	height:22px;
	position:absolute;
	left:33px;
	top:15px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0.5;
	line-height:px;
}.e1_544 { 
	width:105px;
	height:71px;
	position:absolute;
	left:640.40625px;
	top:-1.15625px;
	background-image:url(images/image_6.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_160 { 
	width:1440px;
	height:3537.875px;
	position:absolute;
	left:-21px;
	top:0px;
}.e1_247 { 
	width:1397px;
	height:699px;
	position:absolute;
	left:22px;
	top:1262.6875px;
}.e1_248 { 
	width:1397px;
	height:699px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_553 { 
	width:1397px;
	height:592px;
	position:absolute;
	left:0px;
	top:53.625px;
	background-image:url(images/image_9.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_555 { 
	width:1396px;
	height:721px;
	position:absolute;
	left:22px;
	top:2039.3125px;
	background-image:url(images/image_10.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_161 { 
	background-color:rgba(0, 0, 0, 1);
	width:1px;
	height:989.15625px;
	position:absolute;
	left:20.59375px;
	top:0px;
}.e1_162 { 
	background-color:rgba(0, 0, 0, 1);
	width:1px;
	height:989.15625px;
	position:absolute;
	left:1418.390625px;
	top:0px;
}.e1_163 { 
	width:1397px;
	height:989px;
	position:absolute;
	left:22px;
	top:0px;
}.e1_164 { 
	width:1397px;
	height:989px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_218 { 
	width:697.390625px;
	height:989.15625px;
	position:absolute;
	left:697.984375px;
	top:0.3125px;
}.e1_219 { 
	background-color:rgba(0, 0, 0, 1);
	width:1px;
	height:233.3125px;
	position:absolute;
	left:-1px;
	top:0px;
}.e1_220 { 
	width:697px;
	height:233px;
	position:absolute;
	left:0.015625px;
	top:-0.3125px;
}.e1_221 { 
	width:697px;
	height:233px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_222 { 
	color:rgba(0, 0, 0, 1);
	width:536px;
	height:194px;
	position:absolute;
	left:81px;
	top:24px;
	font-family:Roboto;
	text-align:center;
	font-size:50px;
	letter-spacing:0.5;
	line-height:px;
}.e1_226 { 
	background-color:rgba(0, 0, 0, 1);
	width:1px;
	height:745.609375px;
	position:absolute;
	left:-1px;
	top:233.3125px;
}.e1_227 { 
	background-color:rgba(0, 0, 0, 1);
	width:697.390625px;
	height:1px;
	position:absolute;
	left:0px;
	top:233.3125px;
}.e1_538 { 
	width:677px;
	height:381px;
	position:absolute;
	left:10.015625px;
	top:607.6875px;
	background-image:url(images/image_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_540 { 
	width:618px;
	height:408px;
	position:absolute;
	left:40.015625px;
	top:254.6875px;
	background-image:url(images/image_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_228 { 
	width:1397px;
	height:273px;
	position:absolute;
	left:22px;
	top:988.6875px;
}.1_229 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e1_229 { 
	width:1397px;
	height:273px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_244 { 
	color:rgba(0, 0, 0, 1);
	width:785px;
	height:254px;
	position:absolute;
	left:305px;
	top:33.3125px;
	font-family:Roboto;
	text-align:center;
	font-size:65px;
	letter-spacing:0.5;
	line-height:px;
}.e1_245 { 
	background-color:rgba(0, 0, 0, 1);
	width:1px;
	height:698.75px;
	position:absolute;
	left:20.59375px;
	top:1262.34375px;
}.e1_246 { 
	background-color:rgba(0, 0, 0, 1);
	width:1px;
	height:698.75px;
	position:absolute;
	left:1418.390625px;
	top:1262.34375px;
}.e1_284 { 
	width:1397px;
	height:78px;
	position:absolute;
	left:22px;
	top:1960.6875px;
}.1_285 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e1_285 { 
	width:1397px;
	height:78px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_286 { 
	width:1394.796875px;
	height:31px;
	position:absolute;
	left:-199.3191375732422px;
	top:23.90625px;
}.e1_287 { 
	width:68px;
	height:31px;
	position:absolute;
	left:0.3191375732421875px;
	top:0.09375px;
}.e1_288 { 
	width:64.21499633789062px;
	height:30.125194549560547px;
	position:absolute;
	left:3.4576475620269775px;
	top:0.5433788299560547px;
}.e1_289 { 
	background-color:rgba(0, 0, 0, 1);
	width:52.952171325683594px;
	height:22.60483741760254px;
	position:absolute;
	left:11.262826919555664px;
	top:7.520357131958008px;
}.e1_290 { 
	background-color:rgba(0, 0, 0, 1);
	width:14.277864456176758px;
	height:15.13004207611084px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_291 { 
	width:68px;
	height:31px;
	position:absolute;
	left:774.3191528320312px;
	top:0.09375px;
}.e1_299 { 
	width:68px;
	height:31px;
	position:absolute;
	left:2322.319091796875px;
	top:0.09375px;
}.e1_300 { 
	width:64.21499633789062px;
	height:30.125194549560547px;
	position:absolute;
	left:3.4576475620269775px;
	top:0.5433788299560547px;
}.e1_301 { 
	background-color:rgba(0, 0, 0, 1);
	width:52.952171325683594px;
	height:22.60483741760254px;
	position:absolute;
	left:11.262826919555664px;
	top:7.520357131958008px;
}.e1_302 { 
	background-color:rgba(0, 0, 0, 1);
	width:14.277864456176758px;
	height:15.13004207611084px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_303 { 
	width:68px;
	height:31px;
	position:absolute;
	left:3096.319091796875px;
	top:0.09375px;
}.e1_304 { 
	width:64.21499633789062px;
	height:30.125194549560547px;
	position:absolute;
	left:3.4576475620269775px;
	top:0.5433788299560547px;
}.e1_305 { 
	background-color:rgba(0, 0, 0, 1);
	width:52.952171325683594px;
	height:22.60483741760254px;
	position:absolute;
	left:11.262826919555664px;
	top:7.520357131958008px;
}.e1_306 { 
	background-color:rgba(0, 0, 0, 1);
	width:14.277864456176758px;
	height:15.13004207611084px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_307 { 
	width:68px;
	height:31px;
	position:absolute;
	left:3871.319091796875px;
	top:0.09375px;
}.e1_308 { 
	width:64.21499633789062px;
	height:30.125194549560547px;
	position:absolute;
	left:3.4576475620269775px;
	top:0.5433788299560547px;
}.e1_309 { 
	background-color:rgba(0, 0, 0, 1);
	width:52.952171325683594px;
	height:22.60483741760254px;
	position:absolute;
	left:11.262826919555664px;
	top:7.520357131958008px;
}.e1_310 { 
	background-color:rgba(0, 0, 0, 1);
	width:14.277864456176758px;
	height:15.13004207611084px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_311 { 
	width:68px;
	height:31px;
	position:absolute;
	left:4645.3193359375px;
	top:0.09375px;
}.e1_312 { 
	width:64.21499633789062px;
	height:30.125194549560547px;
	position:absolute;
	left:3.4576475620269775px;
	top:0.5433788299560547px;
}.e1_313 { 
	background-color:rgba(0, 0, 0, 1);
	width:52.952171325683594px;
	height:22.60483741760254px;
	position:absolute;
	left:11.262826919555664px;
	top:7.520357131958008px;
}.e1_314 { 
	background-color:rgba(0, 0, 0, 1);
	width:14.277864456176758px;
	height:15.13004207611084px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_315 { 
	width:68px;
	height:31px;
	position:absolute;
	left:5419.3193359375px;
	top:0.09375px;
}.e1_316 { 
	width:64.21499633789062px;
	height:30.125194549560547px;
	position:absolute;
	left:3.4576475620269775px;
	top:0.5433788299560547px;
}.e1_317 { 
	background-color:rgba(0, 0, 0, 1);
	width:52.952171325683594px;
	height:22.60483741760254px;
	position:absolute;
	left:11.262826919555664px;
	top:7.520357131958008px;
}.e1_318 { 
	background-color:rgba(0, 0, 0, 1);
	width:14.277864456176758px;
	height:15.13004207611084px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_319 { 
	width:68px;
	height:31px;
	position:absolute;
	left:6193.3193359375px;
	top:0.09375px;
}.e1_320 { 
	width:64.21499633789062px;
	height:30.125194549560547px;
	position:absolute;
	left:3.4576475620269775px;
	top:0.5433788299560547px;
}.e1_321 { 
	background-color:rgba(0, 0, 0, 1);
	width:52.952171325683594px;
	height:22.60483741760254px;
	position:absolute;
	left:11.262826919555664px;
	top:7.520357131958008px;
}.e1_322 { 
	background-color:rgba(0, 0, 0, 1);
	width:14.277864456176758px;
	height:15.13004207611084px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_323 { 
	width:68px;
	height:31px;
	position:absolute;
	left:6967.3193359375px;
	top:0.09375px;
}.e1_324 { 
	width:64.21499633789062px;
	height:30.125194549560547px;
	position:absolute;
	left:3.4576475620269775px;
	top:0.5433788299560547px;
}.e1_325 { 
	background-color:rgba(0, 0, 0, 1);
	width:52.952171325683594px;
	height:22.60483741760254px;
	position:absolute;
	left:11.262826919555664px;
	top:7.520357131958008px;
}.e1_326 { 
	background-color:rgba(0, 0, 0, 1);
	width:14.277864456176758px;
	height:15.13004207611084px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_328 { 
	color:rgba(0, 0, 0, 1);
	width:262px;
	height:26px;
	position:absolute;
	left:871.3191528320312px;
	top:2.09375px;
	font-family:Roboto;
	text-align:center;
	font-size:17px;
	letter-spacing:0.5;
	line-height:px;
}.e1_329 { 
	color:rgba(0, 0, 0, 1);
	width:262px;
	height:52px;
	position:absolute;
	left:1288.319091796875px;
	top:2.40625px;
	font-family:Roboto;
	text-align:center;
	font-size:17px;
	letter-spacing:0.5;
	line-height:px;
}.e1_330 { 
	color:rgba(0, 0, 0, 1);
	width:262px;
	height:26px;
	position:absolute;
	left:2419.319091796875px;
	top:2.09375px;
	font-family:Roboto;
	text-align:center;
	font-size:17px;
	letter-spacing:0.5;
	line-height:px;
}.e1_331 { 
	color:rgba(0, 0, 0, 1);
	width:262px;
	height:26px;
	position:absolute;
	left:3193.319091796875px;
	top:2.09375px;
	font-family:Roboto;
	text-align:center;
	font-size:17px;
	letter-spacing:0.5;
	line-height:px;
}.e1_332 { 
	color:rgba(0, 0, 0, 1);
	width:262px;
	height:26px;
	position:absolute;
	left:3967.319091796875px;
	top:2.09375px;
	font-family:Roboto;
	text-align:center;
	font-size:17px;
	letter-spacing:0.5;
	line-height:px;
}.e1_333 { 
	color:rgba(0, 0, 0, 1);
	width:262px;
	height:26px;
	position:absolute;
	left:4742.3193359375px;
	top:2.09375px;
	font-family:Roboto;
	text-align:center;
	font-size:17px;
	letter-spacing:0.5;
	line-height:px;
}.e1_334 { 
	color:rgba(0, 0, 0, 1);
	width:262px;
	height:26px;
	position:absolute;
	left:5516.3193359375px;
	top:2.09375px;
	font-family:Roboto;
	text-align:center;
	font-size:17px;
	letter-spacing:0.5;
	line-height:px;
}.e1_335 { 
	color:rgba(0, 0, 0, 1);
	width:262px;
	height:26px;
	position:absolute;
	left:6290.3193359375px;
	top:2.09375px;
	font-family:Roboto;
	text-align:center;
	font-size:17px;
	letter-spacing:0.5;
	line-height:px;
}.e1_336 { 
	color:rgba(0, 0, 0, 1);
	width:262px;
	height:26px;
	position:absolute;
	left:7064.3193359375px;
	top:2.09375px;
	font-family:Roboto;
	text-align:center;
	font-size:17px;
	letter-spacing:0.5;
	line-height:px;
}.e1_337 { 
	width:68px;
	height:31px;
	position:absolute;
	left:387.31915283203125px;
	top:0.09375px;
}.e1_341 { 
	width:68px;
	height:31px;
	position:absolute;
	left:1935.319091796875px;
	top:0.09375px;
}.e1_342 { 
	width:64.21499633789062px;
	height:30.125194549560547px;
	position:absolute;
	left:3.4576475620269775px;
	top:0.5433788299560547px;
}.e1_343 { 
	background-color:rgba(0, 0, 0, 1);
	width:52.952171325683594px;
	height:22.60483741760254px;
	position:absolute;
	left:11.262826919555664px;
	top:7.520357131958008px;
}.e1_344 { 
	background-color:rgba(0, 0, 0, 1);
	width:14.277864456176758px;
	height:15.13004207611084px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_345 { 
	width:68px;
	height:31px;
	position:absolute;
	left:3484.319091796875px;
	top:0.09375px;
}.e1_346 { 
	width:64.21499633789062px;
	height:30.125194549560547px;
	position:absolute;
	left:3.4576475620269775px;
	top:0.5433788299560547px;
}.e1_347 { 
	background-color:rgba(0, 0, 0, 1);
	width:52.952171325683594px;
	height:22.60483741760254px;
	position:absolute;
	left:11.262826919555664px;
	top:7.520357131958008px;
}.e1_348 { 
	background-color:rgba(0, 0, 0, 1);
	width:14.277864456176758px;
	height:15.13004207611084px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_349 { 
	width:68px;
	height:31px;
	position:absolute;
	left:5032.3193359375px;
	top:0.09375px;
}.e1_350 { 
	width:64.21499633789062px;
	height:30.125194549560547px;
	position:absolute;
	left:3.4576475620269775px;
	top:0.5433788299560547px;
}.e1_351 { 
	background-color:rgba(0, 0, 0, 1);
	width:52.952171325683594px;
	height:22.60483741760254px;
	position:absolute;
	left:11.262826919555664px;
	top:7.520357131958008px;
}.e1_352 { 
	background-color:rgba(0, 0, 0, 1);
	width:14.277864456176758px;
	height:15.13004207611084px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_353 { 
	width:68px;
	height:31px;
	position:absolute;
	left:6580.3193359375px;
	top:0.09375px;
}.e1_354 { 
	width:64.21499633789062px;
	height:30.125194549560547px;
	position:absolute;
	left:3.4576475620269775px;
	top:0.5433788299560547px;
}.e1_355 { 
	background-color:rgba(0, 0, 0, 1);
	width:52.952171325683594px;
	height:22.60483741760254px;
	position:absolute;
	left:11.262826919555664px;
	top:7.520357131958008px;
}.e1_356 { 
	background-color:rgba(0, 0, 0, 1);
	width:14.277864456176758px;
	height:15.13004207611084px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_358 { 
	color:rgba(0, 0, 0, 1);
	width:262px;
	height:26px;
	position:absolute;
	left:2806.319091796875px;
	top:2.09375px;
	font-family:Roboto;
	text-align:center;
	font-size:17px;
	letter-spacing:0.5;
	line-height:px;
}.e1_359 { 
	color:rgba(0, 0, 0, 1);
	width:262px;
	height:26px;
	position:absolute;
	left:4355.3193359375px;
	top:2.09375px;
	font-family:Roboto;
	text-align:center;
	font-size:17px;
	letter-spacing:0.5;
	line-height:px;
}.e1_360 { 
	color:rgba(0, 0, 0, 1);
	width:262px;
	height:26px;
	position:absolute;
	left:5903.3193359375px;
	top:2.09375px;
	font-family:Roboto;
	text-align:center;
	font-size:17px;
	letter-spacing:0.5;
	line-height:px;
}.e1_365 { 
	width:68px;
	height:31px;
	position:absolute;
	left:4258.3193359375px;
	top:0.09375px;
}.e1_366 { 
	width:64.21499633789062px;
	height:30.125194549560547px;
	position:absolute;
	left:3.4576475620269775px;
	top:0.5433788299560547px;
}.e1_367 { 
	background-color:rgba(0, 0, 0, 1);
	width:52.952171325683594px;
	height:22.60483741760254px;
	position:absolute;
	left:11.262826919555664px;
	top:7.520357131958008px;
}.e1_368 { 
	background-color:rgba(0, 0, 0, 1);
	width:14.277864456176758px;
	height:15.13004207611084px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_369 { 
	width:68px;
	height:31px;
	position:absolute;
	left:7354.3193359375px;
	top:0.09375px;
}.e1_370 { 
	width:64.21499633789062px;
	height:30.125194549560547px;
	position:absolute;
	left:3.4576475620269775px;
	top:0.5433788299560547px;
}.e1_371 { 
	background-color:rgba(0, 0, 0, 1);
	width:52.952171325683594px;
	height:22.60483741760254px;
	position:absolute;
	left:11.262826919555664px;
	top:7.520357131958008px;
}.e1_372 { 
	background-color:rgba(0, 0, 0, 1);
	width:14.277864456176758px;
	height:15.13004207611084px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_373 { 
	color:rgba(0, 0, 0, 1);
	width:262px;
	height:26px;
	position:absolute;
	left:2032.319091796875px;
	top:2.09375px;
	font-family:Roboto;
	text-align:center;
	font-size:17px;
	letter-spacing:0.5;
	line-height:px;
}.e1_374 { 
	color:rgba(0, 0, 0, 1);
	width:262px;
	height:26px;
	position:absolute;
	left:5129.3193359375px;
	top:2.09375px;
	font-family:Roboto;
	text-align:center;
	font-size:17px;
	letter-spacing:0.5;
	line-height:px;
}.e1_375 { 
	width:68px;
	height:31px;
	position:absolute;
	left:2709.319091796875px;
	top:0.09375px;
}.e1_376 { 
	width:64.21499633789062px;
	height:30.125194549560547px;
	position:absolute;
	left:3.4576475620269775px;
	top:0.5433788299560547px;
}.e1_377 { 
	background-color:rgba(0, 0, 0, 1);
	width:52.952171325683594px;
	height:22.60483741760254px;
	position:absolute;
	left:11.262826919555664px;
	top:7.520357131958008px;
}.e1_378 { 
	background-color:rgba(0, 0, 0, 1);
	width:14.277864456176758px;
	height:15.13004207611084px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_379 { 
	color:rgba(0, 0, 0, 1);
	width:262px;
	height:26px;
	position:absolute;
	left:484.31915283203125px;
	top:2.09375px;
	font-family:Roboto;
	text-align:center;
	font-size:17px;
	letter-spacing:0.5;
	line-height:px;
}.e1_380 { 
	color:rgba(0, 0, 0, 1);
	width:262px;
	height:26px;
	position:absolute;
	left:6677.3193359375px;
	top:2.09375px;
	font-family:Roboto;
	text-align:center;
	font-size:17px;
	letter-spacing:0.5;
	line-height:px;
}.e1_381 { 
	width:68px;
	height:31px;
	position:absolute;
	left:5806.3193359375px;
	top:0.09375px;
}.e1_382 { 
	width:64.21499633789062px;
	height:30.125194549560547px;
	position:absolute;
	left:3.4576475620269775px;
	top:0.5433788299560547px;
}.e1_383 { 
	background-color:rgba(0, 0, 0, 1);
	width:52.952171325683594px;
	height:22.60483741760254px;
	position:absolute;
	left:11.262826919555664px;
	top:7.520357131958008px;
}.e1_384 { 
	background-color:rgba(0, 0, 0, 1);
	width:14.277864456176758px;
	height:15.13004207611084px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_385 { 
	color:rgba(0, 0, 0, 1);
	width:262px;
	height:26px;
	position:absolute;
	left:3580.319091796875px;
	top:2.09375px;
	font-family:Roboto;
	text-align:center;
	font-size:17px;
	letter-spacing:0.5;
	line-height:px;
}.e1_546 { 
	width:90px;
	height:61px;
	position:absolute;
	left:763.3191528320312px;
	top:-15.59375px;
	background-image:url(images/image_6.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_547 { 
	width:90px;
	height:61px;
	position:absolute;
	left:1151.319091796875px;
	top:-15.59375px;
	background-image:url(images/image_7.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_548 { 
	width:100px;
	height:100px;
	position:absolute;
	left:212.3191375732422px;
	top:-30.59375px;
}.e1_545 { 
	width:90px;
	height:61px;
	position:absolute;
	left:177px;
	top:8.3125px;
	background-image:url(images/image_6.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_386 { 
	background-color:rgba(0, 0, 0, 1);
	width:1px;
	height:721.84375px;
	position:absolute;
	left:20.59375px;
	top:2039.09375px;
}.e1_387 { 
	background-color:rgba(0, 0, 0, 1);
	width:1px;
	height:721.84375px;
	position:absolute;
	left:1418.390625px;
	top:2039.09375px;
}.e1_391 { 
	background-color:rgba(0, 0, 0, 1);
	width:1396.796875px;
	height:1px;
	position:absolute;
	left:21.59375px;
	top:2759.9375px;
}.e1_392 { 
	background-color:rgba(0, 0, 0, 1);
	width:1px;
	height:698.9375px;
	position:absolute;
	left:20.59375px;
	top:2760.9375px;
}.e1_393 { 
	width:1397px;
	height:699px;
	position:absolute;
	left:22px;
	top:2760.6875px;
}.e1_395 { 
	width:697.890625px;
	height:697.9375px;
	position:absolute;
	left:0.59375px;
	top:1.25px;
}.e1_396 { 
	background-color:rgba(0, 0, 0, 1);
	width:697.890625px;
	height:1px;
	position:absolute;
	left:0px;
	top:226.90625px;
}.e1_398 { 
	width:698px;
	height:227px;
	position:absolute;
	left:0.40625px;
	top:-0.25px;
}.e1_399 { 
	width:698px;
	height:227px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_400 { 
	color:rgba(0, 0, 0, 1);
	width:590px;
	height:259px;
	position:absolute;
	left:54px;
	top:16.625px;
	font-family:Roboto;
	text-align:center;
	font-size:58px;
	letter-spacing:0.5;
	line-height:px;
}.e1_557 { 
	width:697px;
	height:470px;
	position:absolute;
	left:0.40625px;
	top:228.375px;
	background-image:url(images/image_11.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_394 { 
	width:1397px;
	height:699px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_421 { 
	background-color:rgba(0, 0, 0, 1);
	width:1px;
	height:697.9375px;
	position:absolute;
	left:697.484375px;
	top:1.25px;
}.e1_558 { 
	color:rgba(0, 0, 0, 1);
	width:646px;
	height:540px;
	position:absolute;
	left:719px;
	top:134.625px;
	font-family:Roboto;
	text-align:center;
	font-size:20px;
	letter-spacing:0.5;
	line-height:px;
}.e1_401 { 
	background-color:rgba(0, 0, 0, 1);
	width:1px;
	height:697.9375px;
	position:absolute;
	left:1396.375px;
	top:1.25px;
}.e1_559 { 
	width:1399px;
	height:78px;
	position:absolute;
	left:21px;
	top:3460px;
}.1_560 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e1_560 { 
	width:1399px;
	height:78px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_561 { 
	width:1396.9971923828125px;
	height:34px;
	position:absolute;
	left:-208.2977752685547px;
	top:22.6875px;
}.e1_562 { 
	width:68.10726928710938px;
	height:31px;
	position:absolute;
	left:0.31964099407196045px;
	top:1.09375px;
}.e1_563 { 
	width:64.31629943847656px;
	height:30.125194549560547px;
	position:absolute;
	left:3.463101863861084px;
	top:0.5433788299560547px;
}.e1_564 { 
	background-color:rgba(0, 0, 0, 1);
	width:53.03570556640625px;
	height:22.60483741760254px;
	position:absolute;
	left:11.280593872070312px;
	top:7.520357131958008px;
}.e1_565 { 
	background-color:rgba(0, 0, 0, 1);
	width:14.300387382507324px;
	height:15.13004207611084px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_566 { 
	width:68.10726928710938px;
	height:31px;
	position:absolute;
	left:775.5407104492188px;
	top:1.09375px;
}.e1_567 { 
	width:68.10726928710938px;
	height:31px;
	position:absolute;
	left:2325.982421875px;
	top:1.09375px;
}.e1_568 { 
	width:64.31629943847656px;
	height:30.125194549560547px;
	position:absolute;
	left:3.463101863861084px;
	top:0.5433788299560547px;
}.e1_569 { 
	background-color:rgba(0, 0, 0, 1);
	width:53.03570556640625px;
	height:22.60483741760254px;
	position:absolute;
	left:11.280593872070312px;
	top:7.520357131958008px;
}.e1_570 { 
	background-color:rgba(0, 0, 0, 1);
	width:14.300387382507324px;
	height:15.13004207611084px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_571 { 
	width:68.10726928710938px;
	height:31px;
	position:absolute;
	left:3101.20361328125px;
	top:1.09375px;
}.e1_572 { 
	width:64.31629943847656px;
	height:30.125194549560547px;
	position:absolute;
	left:3.463101863861084px;
	top:0.5433788299560547px;
}.e1_573 { 
	background-color:rgba(0, 0, 0, 1);
	width:53.03570556640625px;
	height:22.60483741760254px;
	position:absolute;
	left:11.280593872070312px;
	top:7.520357131958008px;
}.e1_574 { 
	background-color:rgba(0, 0, 0, 1);
	width:14.300387382507324px;
	height:15.13004207611084px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_575 { 
	width:68.10726928710938px;
	height:31px;
	position:absolute;
	left:3877.426025390625px;
	top:1.09375px;
}.e1_576 { 
	width:64.31629943847656px;
	height:30.125194549560547px;
	position:absolute;
	left:3.463101863861084px;
	top:0.5433788299560547px;
}.e1_577 { 
	background-color:rgba(0, 0, 0, 1);
	width:53.03570556640625px;
	height:22.60483741760254px;
	position:absolute;
	left:11.280593872070312px;
	top:7.520357131958008px;
}.e1_578 { 
	background-color:rgba(0, 0, 0, 1);
	width:14.300387382507324px;
	height:15.13004207611084px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_579 { 
	width:68.10726928710938px;
	height:31px;
	position:absolute;
	left:4652.64697265625px;
	top:1.09375px;
}.e1_580 { 
	width:64.31629943847656px;
	height:30.125194549560547px;
	position:absolute;
	left:3.463101863861084px;
	top:0.5433788299560547px;
}.e1_581 { 
	background-color:rgba(0, 0, 0, 1);
	width:53.03570556640625px;
	height:22.60483741760254px;
	position:absolute;
	left:11.280593872070312px;
	top:7.520357131958008px;
}.e1_582 { 
	background-color:rgba(0, 0, 0, 1);
	width:14.300387382507324px;
	height:15.13004207611084px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_583 { 
	width:68.10726928710938px;
	height:31px;
	position:absolute;
	left:5427.8681640625px;
	top:1.09375px;
}.e1_584 { 
	width:64.31629943847656px;
	height:30.125194549560547px;
	position:absolute;
	left:3.463101863861084px;
	top:0.5433788299560547px;
}.e1_585 { 
	background-color:rgba(0, 0, 0, 1);
	width:53.03570556640625px;
	height:22.60483741760254px;
	position:absolute;
	left:11.280593872070312px;
	top:7.520357131958008px;
}.e1_586 { 
	background-color:rgba(0, 0, 0, 1);
	width:14.300387382507324px;
	height:15.13004207611084px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_587 { 
	width:68.10726928710938px;
	height:31px;
	position:absolute;
	left:6203.08935546875px;
	top:1.09375px;
}.e1_588 { 
	width:64.31629943847656px;
	height:30.125194549560547px;
	position:absolute;
	left:3.463101863861084px;
	top:0.5433788299560547px;
}.e1_589 { 
	background-color:rgba(0, 0, 0, 1);
	width:53.03570556640625px;
	height:22.60483741760254px;
	position:absolute;
	left:11.280593872070312px;
	top:7.520357131958008px;
}.e1_590 { 
	background-color:rgba(0, 0, 0, 1);
	width:14.300387382507324px;
	height:15.13004207611084px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_591 { 
	width:68.10726928710938px;
	height:31px;
	position:absolute;
	left:6978.310546875px;
	top:1.09375px;
}.e1_592 { 
	width:64.31629943847656px;
	height:30.125194549560547px;
	position:absolute;
	left:3.463101863861084px;
	top:0.5433788299560547px;
}.e1_593 { 
	background-color:rgba(0, 0, 0, 1);
	width:53.03570556640625px;
	height:22.60483741760254px;
	position:absolute;
	left:11.280593872070312px;
	top:7.520357131958008px;
}.e1_594 { 
	background-color:rgba(0, 0, 0, 1);
	width:14.300387382507324px;
	height:15.13004207611084px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_595 { 
	color:rgba(0, 0, 0, 1);
	width:262px;
	height:26px;
	position:absolute;
	left:872.3191528320312px;
	top:3.09375px;
	font-family:Roboto;
	text-align:center;
	font-size:17px;
	letter-spacing:0.5;
	line-height:px;
}.e1_596 { 
	color:rgba(0, 0, 0, 1);
	width:262px;
	height:52px;
	position:absolute;
	left:1289.319091796875px;
	top:3.40625px;
	font-family:Roboto;
	text-align:center;
	font-size:17px;
	letter-spacing:0.5;
	line-height:px;
}.e1_597 { 
	color:rgba(0, 0, 0, 1);
	width:262px;
	height:26px;
	position:absolute;
	left:2420.319091796875px;
	top:3.09375px;
	font-family:Roboto;
	text-align:center;
	font-size:17px;
	letter-spacing:0.5;
	line-height:px;
}.e1_598 { 
	color:rgba(0, 0, 0, 1);
	width:262px;
	height:26px;
	position:absolute;
	left:3194.319091796875px;
	top:3.09375px;
	font-family:Roboto;
	text-align:center;
	font-size:17px;
	letter-spacing:0.5;
	line-height:px;
}.e1_599 { 
	color:rgba(0, 0, 0, 1);
	width:262px;
	height:26px;
	position:absolute;
	left:3968.319091796875px;
	top:3.09375px;
	font-family:Roboto;
	text-align:center;
	font-size:17px;
	letter-spacing:0.5;
	line-height:px;
}.e1_600 { 
	color:rgba(0, 0, 0, 1);
	width:262px;
	height:26px;
	position:absolute;
	left:4743.3193359375px;
	top:3.09375px;
	font-family:Roboto;
	text-align:center;
	font-size:17px;
	letter-spacing:0.5;
	line-height:px;
}.e1_601 { 
	color:rgba(0, 0, 0, 1);
	width:262px;
	height:26px;
	position:absolute;
	left:5517.3193359375px;
	top:3.09375px;
	font-family:Roboto;
	text-align:center;
	font-size:17px;
	letter-spacing:0.5;
	line-height:px;
}.e1_602 { 
	color:rgba(0, 0, 0, 1);
	width:262px;
	height:26px;
	position:absolute;
	left:6291.3193359375px;
	top:3.09375px;
	font-family:Roboto;
	text-align:center;
	font-size:17px;
	letter-spacing:0.5;
	line-height:px;
}.e1_603 { 
	color:rgba(0, 0, 0, 1);
	width:262px;
	height:26px;
	position:absolute;
	left:7065.3193359375px;
	top:3.09375px;
	font-family:Roboto;
	text-align:center;
	font-size:17px;
	letter-spacing:0.5;
	line-height:px;
}.e1_604 { 
	width:68.10726928710938px;
	height:31px;
	position:absolute;
	left:387.9301452636719px;
	top:1.09375px;
}.e1_605 { 
	width:68.10726928710938px;
	height:31px;
	position:absolute;
	left:1938.3720703125px;
	top:1.09375px;
}.e1_606 { 
	width:64.31629943847656px;
	height:30.125194549560547px;
	position:absolute;
	left:3.463101863861084px;
	top:0.5433788299560547px;
}.e1_607 { 
	background-color:rgba(0, 0, 0, 1);
	width:53.03570556640625px;
	height:22.60483741760254px;
	position:absolute;
	left:11.280593872070312px;
	top:7.520357131958008px;
}.e1_608 { 
	background-color:rgba(0, 0, 0, 1);
	width:14.300387382507324px;
	height:15.13004207611084px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_609 { 
	width:68.10726928710938px;
	height:31px;
	position:absolute;
	left:3489.815673828125px;
	top:1.09375px;
}.e1_610 { 
	width:64.31629943847656px;
	height:30.125194549560547px;
	position:absolute;
	left:3.463101863861084px;
	top:0.5433788299560547px;
}.e1_611 { 
	background-color:rgba(0, 0, 0, 1);
	width:53.03570556640625px;
	height:22.60483741760254px;
	position:absolute;
	left:11.280593872070312px;
	top:7.520357131958008px;
}.e1_612 { 
	background-color:rgba(0, 0, 0, 1);
	width:14.300387382507324px;
	height:15.13004207611084px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_613 { 
	width:68.10726928710938px;
	height:31px;
	position:absolute;
	left:5040.2578125px;
	top:1.09375px;
}.e1_614 { 
	width:64.31629943847656px;
	height:30.125194549560547px;
	position:absolute;
	left:3.463101863861084px;
	top:0.5433788299560547px;
}.e1_615 { 
	background-color:rgba(0, 0, 0, 1);
	width:53.03570556640625px;
	height:22.60483741760254px;
	position:absolute;
	left:11.280593872070312px;
	top:7.520357131958008px;
}.e1_616 { 
	background-color:rgba(0, 0, 0, 1);
	width:14.300387382507324px;
	height:15.13004207611084px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_617 { 
	width:68.10726928710938px;
	height:31px;
	position:absolute;
	left:6590.7001953125px;
	top:1.09375px;
}.e1_618 { 
	width:64.31629943847656px;
	height:30.125194549560547px;
	position:absolute;
	left:3.463101863861084px;
	top:0.5433788299560547px;
}.e1_619 { 
	background-color:rgba(0, 0, 0, 1);
	width:53.03570556640625px;
	height:22.60483741760254px;
	position:absolute;
	left:11.280593872070312px;
	top:7.520357131958008px;
}.e1_620 { 
	background-color:rgba(0, 0, 0, 1);
	width:14.300387382507324px;
	height:15.13004207611084px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_621 { 
	color:rgba(0, 0, 0, 1);
	width:262px;
	height:26px;
	position:absolute;
	left:2807.319091796875px;
	top:3.09375px;
	font-family:Roboto;
	text-align:center;
	font-size:17px;
	letter-spacing:0.5;
	line-height:px;
}.e1_622 { 
	color:rgba(0, 0, 0, 1);
	width:262px;
	height:26px;
	position:absolute;
	left:4356.3193359375px;
	top:3.09375px;
	font-family:Roboto;
	text-align:center;
	font-size:17px;
	letter-spacing:0.5;
	line-height:px;
}.e1_623 { 
	color:rgba(0, 0, 0, 1);
	width:262px;
	height:26px;
	position:absolute;
	left:5904.3193359375px;
	top:3.09375px;
	font-family:Roboto;
	text-align:center;
	font-size:17px;
	letter-spacing:0.5;
	line-height:px;
}.e1_624 { 
	width:68.10726928710938px;
	height:31px;
	position:absolute;
	left:4265.037109375px;
	top:1.09375px;
}.e1_625 { 
	width:64.31629943847656px;
	height:30.125194549560547px;
	position:absolute;
	left:3.463101863861084px;
	top:0.5433788299560547px;
}.e1_626 { 
	background-color:rgba(0, 0, 0, 1);
	width:53.03570556640625px;
	height:22.60483741760254px;
	position:absolute;
	left:11.280593872070312px;
	top:7.520357131958008px;
}.e1_627 { 
	background-color:rgba(0, 0, 0, 1);
	width:14.300387382507324px;
	height:15.13004207611084px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_628 { 
	width:68.10726928710938px;
	height:31px;
	position:absolute;
	left:7365.9208984375px;
	top:1.09375px;
}.e1_629 { 
	width:64.31629943847656px;
	height:30.125194549560547px;
	position:absolute;
	left:3.463101863861084px;
	top:0.5433788299560547px;
}.e1_630 { 
	background-color:rgba(0, 0, 0, 1);
	width:53.03570556640625px;
	height:22.60483741760254px;
	position:absolute;
	left:11.280593872070312px;
	top:7.520357131958008px;
}.e1_631 { 
	background-color:rgba(0, 0, 0, 1);
	width:14.300387382507324px;
	height:15.13004207611084px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_632 { 
	color:rgba(0, 0, 0, 1);
	width:262px;
	height:26px;
	position:absolute;
	left:2033.319091796875px;
	top:3.09375px;
	font-family:Roboto;
	text-align:center;
	font-size:17px;
	letter-spacing:0.5;
	line-height:px;
}.e1_633 { 
	color:rgba(0, 0, 0, 1);
	width:262px;
	height:26px;
	position:absolute;
	left:5130.3193359375px;
	top:3.09375px;
	font-family:Roboto;
	text-align:center;
	font-size:17px;
	letter-spacing:0.5;
	line-height:px;
}.e1_634 { 
	width:68.10726928710938px;
	height:31px;
	position:absolute;
	left:2713.593017578125px;
	top:1.09375px;
}.e1_635 { 
	width:64.31629943847656px;
	height:30.125194549560547px;
	position:absolute;
	left:3.463101863861084px;
	top:0.5433788299560547px;
}.e1_636 { 
	background-color:rgba(0, 0, 0, 1);
	width:53.03570556640625px;
	height:22.60483741760254px;
	position:absolute;
	left:11.280593872070312px;
	top:7.520357131958008px;
}.e1_637 { 
	background-color:rgba(0, 0, 0, 1);
	width:14.300387382507324px;
	height:15.13004207611084px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_638 { 
	color:rgba(0, 0, 0, 1);
	width:262px;
	height:26px;
	position:absolute;
	left:485.31915283203125px;
	top:3.09375px;
	font-family:Roboto;
	text-align:center;
	font-size:17px;
	letter-spacing:0.5;
	line-height:px;
}.e1_639 { 
	color:rgba(0, 0, 0, 1);
	width:262px;
	height:26px;
	position:absolute;
	left:6678.3193359375px;
	top:3.09375px;
	font-family:Roboto;
	text-align:center;
	font-size:17px;
	letter-spacing:0.5;
	line-height:px;
}.e1_640 { 
	width:68.10726928710938px;
	height:31px;
	position:absolute;
	left:5815.47900390625px;
	top:1.09375px;
}.e1_641 { 
	width:64.31629943847656px;
	height:30.125194549560547px;
	position:absolute;
	left:3.463101863861084px;
	top:0.5433788299560547px;
}.e1_642 { 
	background-color:rgba(0, 0, 0, 1);
	width:53.03570556640625px;
	height:22.60483741760254px;
	position:absolute;
	left:11.280593872070312px;
	top:7.520357131958008px;
}.e1_643 { 
	background-color:rgba(0, 0, 0, 1);
	width:14.300387382507324px;
	height:15.13004207611084px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_644 { 
	color:rgba(0, 0, 0, 1);
	width:262px;
	height:26px;
	position:absolute;
	left:3581.319091796875px;
	top:3.09375px;
	font-family:Roboto;
	text-align:center;
	font-size:17px;
	letter-spacing:0.5;
	line-height:px;
}.e1_645 { 
	width:90px;
	height:61px;
	position:absolute;
	left:763.3191528320312px;
	top:-15.59375px;
	background-image:url(images/image_6.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_646 { 
	width:90px;
	height:61px;
	position:absolute;
	left:1151.319091796875px;
	top:-15.59375px;
	background-image:url(images/image_7.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_647 { 
	width:100px;
	height:100px;
	position:absolute;
	left:212.3191375732422px;
	top:-30.59375px;
}.e1_648 { 
	width:90px;
	height:61px;
	position:absolute;
	left:177px;
	top:8.3125px;
	background-image:url(images/image_6.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_480 { 
	transform: rotate(180deg);
	background-color:rgba(0, 0, 0, 1);
	width:1px;
	height:756px;
	position:absolute;
	left:1px;
	top:3538px;
}.e1_481 { 
	background-color:rgba(0, 0, 0, 1);
	position:absolute;
	left:1419px;
	top:3524.5px;
}.e1_513 { 
	background-color:rgba(0, 0, 0, 1);
	width:1398px;
	height:1px;
	position:absolute;
	left:0px;
	top:4293px;
}.e1_514 { 
	background-color:rgba(0, 0, 0, 1);
	width:1px;
	height:65.3125px;
	position:absolute;
	left:20.59375px;
	top:4294.28125px;
}.e1_515 { 
	background-color:rgba(0, 0, 0, 1);
	width:1px;
	height:66px;
	position:absolute;
	left:1397px;
	top:4294px;
}.e1_516 { 
	width:1397px;
	height:65px;
	position:absolute;
	left:0px;
	top:4295px;
}.e1_517 { 
	background-color:rgba(251.00000023841858, 75.00000312924385, 77.00000301003456, 1);
	width:1397px;
	height:66px;
	position:absolute;
	left:0px;
	top:-1px;
}.e1_650 { 
	color:rgba(0, 0, 0, 1);
	width:252px;
	height:48px;
	position:absolute;
	left:830px;
	top:21px;
	font-family:Roboto;
	text-align:center;
	font-size:15px;
	letter-spacing:0.5;
	line-height:px;
}.e1_518 { 
	color:rgba(0, 0, 0, 1);
	width:252px;
	height:24px;
	position:absolute;
	left:558px;
	top:20px;
	font-family:Roboto;
	text-align:center;
	font-size:15px;
	letter-spacing:0.5;
	line-height:px;
}.e1_519 { 
	color:rgba(0, 0, 0, 1);
	width:67px;
	height:24px;
	position:absolute;
	left:93px;
	top:20px;
	font-family:Roboto;
	text-align:center;
	font-size:15px;
	letter-spacing:0.5;
	line-height:px;
}.e1_520 { 
	color:rgba(0, 0, 0, 1);
	width:95px;
	height:24px;
	position:absolute;
	left:1209px;
	top:20px;
	font-family:Roboto;
	text-align:center;
	font-size:16px;
	letter-spacing:0.5;
	line-height:px;
}